<!-- Footer.razor -->
@page "/footer"

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 text-left">
                <span class="text-muted">&copy; @DateTime.Now.Year - Web3Gems</span>
            </div>
            <div class="col-sm-4 text-right">
                <a class="footer-link" href="/about">About Us</a> |
                <a class="footer-link" href="legal#disclaimer">Disclaimer</a> |
                <a class="footer-link" href="legal#terms">Terms of service</a>
            </div>
        </div>
    </div>
</footer>
