@inherits LayoutComponentBase
@inject AuthenticationStateProvider _siweAuthenticationStateProvider;

<div class="page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <NavMenu />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>
