<nav class="navbar navbar-expand-lg navbar-dark bg-dark align-items-center">
    <a class="navbar-brand" href="">The Marketplace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
                    <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="my-nfts" Match="NavLinkMatch.All">
                    <span class="oi oi-folder" aria-hidden="true"></span> My NFTs
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="resell-nft" Match="NavLinkMatch.All">
                    <span class="oi oi-dollar" aria-hidden="true"></span> Resell NFT
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/user-profile" Match="NavLinkMatch.All">
                    <span class="oi oi-person" aria-hidden="true"></span> User Profile
                </NavLink>
            </li>
        </ul>
        <div class="ml-auto">
            <Metamask />
        </div>
    </div>
</nav>
