<!-- About.razor -->
@page "/about"

<h1>About Us</h1>
<p>This is some information about us.</p>


<!-- Legal.razor -->
@page "/legal"

<h1 id="disclaimer">Disclaimer</h1>
<p>This is the disclaimer.</p>

<h1 id="terms">Terms of Service</h1>
<p>These are the terms of service.</p>