@page "/all-nfts"
@using Marketplace.Wasm.Models
@inject Services.NFTService NFTService

<div class="container py-4">
    <h2 class="py-2 text-center">Items Listed</h2>
    @if (NFTs != null && NFTs.Count > 0)
    {
        var groupedNFTs = NFTs.GroupBy(nft => nft.Minter);
        foreach (var group in groupedNFTs)
        {
            <h3 class="text-center">Minter: @group.Key</h3>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                @foreach (var nft in group)
                {
                    <div class="col">
                        <div class="card h-100 shadow rounded">
                            <div class="square-image">
                                <img src="@ConvertIpfsToHttp(nft.TokenMetadata.Image)" class="card-img-top rounded" alt="@nft.TokenMetadata.Name" />
                            </div>
                            <div class="card-body">
                                <p class="card-text">@nft.TokenMetadata.Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
    else
    {
        <div class="col">
            <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
                <h1 class="py-10 text-3xl">No NFTs listed</h1>
            </div>
        </div>
    }
</div>


@code {
    private List<NFTViewModel> NFTs { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        NFTs = await NFTService.LoadAllNFTs();
    }

    private string ConvertIpfsToHttp(string ipfsUrl)
    {
        return ipfsUrl.Replace("ipfs://", "https://we3ge.infura-ipfs.io/ipfs/");
    }
}
