@page "/my-nfts"
@* @using Marketplace.Wasm.Contracts *@
@using Nethereum.Web3
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Components.Web
@using Marketplace.Wasm.Models
@* @inject IWeb3Provider Web3Provider *@
@inject NavigationManager NavigationManager

<div class="flex justify-center">
    <div class="p-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 pt-4">
            @if (NFTs != null && NFTs.Count > 0)
            {
                @foreach (var nft in NFTs)
                {
                    <div class="border shadow rounded-xl overflow-hidden">
                        <img src="@nft.Image" class="rounded" />
                        <div class="p-4 bg-black">
                            <p class="text-2xl font-bold text-white">Price - @nft.Price Eth</p>
                            <button class="mt-4 w-full bg-pink-500 text-white font-bold py-2 px-12 rounded" @onclick="() => ListNFT(nft)">List</button>
                        </div>
                    </div>
                }
            }
            else
            {
                <h1 class="py-10 px-20 text-3xl">No NFTs owned</h1>
            }
        </div>
    </div>
</div>

@code {
    private List<NFT> NFTs { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadNFTs();
    }

    private async Task LoadNFTs()
    {
        // Add your logic to load NFTs
    }

    private void ListNFT(NFT nft)
    {
        // Implement your logic for listing NFT
        NavigationManager.NavigateTo($"/resell-nft?id={nft.TokenId}&tokenURI={nft.TokenURI}");
    }
}
